In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

In [3]:
def convert_y(dataY):
    y = []
    for i in range (len(dataY)):
        if(dataY[i] > 50):
            y.append(0)
        else:
            y.append(1)
    return np.array(y)

In [4]:
dataX = pd.read_csv('./datasets/spotofy_music_normalized.csv')
dataY = pd.read_csv('./datasets/spotofy_music_labels.csv')
dataY_multi = pd.read_csv('./datasets/spotofy_music_labels.csv')
dataY.head()

   Rank
0     1
1     2
2     3
3     4
4     2

In [5]:
cut_labels = [1, 2, 3, 4, 5]
cut_bins = [0, 40, 80, 120, 160, 200]
dataY_multi['Rank'] = pd.cut(dataY_multi['Rank'], bins=cut_bins, labels=cut_labels)

In [6]:
dataY

      Rank
0        1
1        2
2        3
3        4
4        2
...    ...
4242   146
4243   147
4244   148
4245   192
4246   195

[4247 rows x 1 columns]

In [7]:
m = len(dataX) # Number of  examples
X = np.array(dataX)
Y = np.array(dataY)
Y1= np.array(dataY_multi)
Y = convert_y(Y)
Y = np.array(Y)
Y_multi = []
for i in range (len(Y1)):
    Y_multi.append(Y1[i][0])
Y_multi = np.array(Y_multi)
Y

array([1, 1, 1, ..., 0, 0, 0])

In [8]:
def accuracy(Y,y_pred):
    return np.sum(y_pred==Y)/len(Y)

In [9]:
from xgboost import XGBRFClassifier
from sklearn.model_selection import RepeatedStratifiedKFold, cross_val_score
model = XGBRFClassifier(n_estimators=100, subsample=0.9, colsample_bynode=0.2)
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
n_scores = cross_val_score(model, X, Y, scoring='accuracy', cv=cv, n_jobs=-1)

print('Mean Accuracy: %.3f' % (np.mean(n_scores)))

Mean Accuracy: 0.667

In [10]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=10, random_state=0)
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
n_scores = cross_val_score(clf, X, Y, scoring='accuracy', cv=cv, n_jobs=-1)

print('Mean Accuracy: %.3f' % (np.mean(n_scores)))

Mean Accuracy: 0.711

In [11]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=10, random_state=0)
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
n_scores = cross_val_score(clf, X, Y_multi, scoring='accuracy', cv=cv, n_jobs=-1)

print('Mean Accuracy: %.3f' % (np.mean(n_scores)))

Mean Accuracy: 0.312

In [12]:
from xgboost import XGBRFClassifier
from sklearn.model_selection import RepeatedStratifiedKFold, cross_val_score
model = XGBRFClassifier(n_estimators=100, subsample=0., colsample_bynode=0.2)
cv = RepeatedStratifiedKFold(n_splits=5, n_repeats=3, random_state=1)
n_scores = cross_val_score(model, X, Y_multi, scoring='accuracy', cv=cv, n_jobs=-1)

print('Mean Accuracy: %.3f' % (np.mean(n_scores)))

Mean Accuracy: 0.286