In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import RepeatedStratifiedKFold, cross_val_score

In [ ]:
def convert_y(dataY):
    y = []
    for i in range (len(dataY)):
        if(dataY[i] > 50):
            y.append(0)
        else:
            y.append(1)
    return np.array(y)

In [ ]:
dataX = pd.read_csv('../datasets/spotofy_music_normalized.csv')
dataY = pd.read_csv('../datasets/spotofy_music_labels.csv')
dataY_multi = pd.read_csv('../datasets/spotofy_music_labels.csv')
dataY.head()

   Rank
0     1
1     2
2     3
3     4
4     2

In [ ]:
cut_labels = [1, 2, 3, 4, 5]
cut_bins = [0, 40, 80, 120, 160, 200]
dataY_multi['Rank'] = pd.cut(dataY_multi['Rank'], bins=cut_bins, labels=cut_labels)

In [ ]:
dataY

      Rank
0        1
1        2
2        3
3        4
4        2
...    ...
4242   146
4243   147
4244   148
4245   192
4246   195

[4247 rows x 1 columns]

In [ ]:
m = len(dataX) # Number of  examples
X = np.array(dataX)
Y = np.array(dataY)
Y1= np.array(dataY_multi)
Y = convert_y(Y)
Y = np.array(Y)
Y_multi = []
for i in range (len(Y1)):
    Y_multi.append(Y1[i][0])
Y_multi = np.array(Y_multi)
Y

array([1, 1, 1, ..., 0, 0, 0])

In [ ]:
len(X[0])

13

In [ ]:
def accuracy(Y,y_pred):
    return np.sum(y_pred==Y)/len(Y)

### Binary Classification

In [ ]:
from sklearn.ensemble import RandomForestClassifier
d = [5,10,15,20]
for depth in d:
    clf = RandomForestClassifier(max_depth=depth, random_state=0)
    cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
    n_scores = cross_val_score(clf, X, Y, scoring='accuracy', cv=cv, n_jobs=-1)
    print("for max_depth = %d" % (depth))
    print('Mean Accuracy: %.3f' % (np.mean(n_scores)))

for max_depth = 5
Mean Accuracy: 0.691
for max_depth = 10
Mean Accuracy: 0.711
for max_depth = 15
Mean Accuracy: 0.716
for max_depth = 20
Mean Accuracy: 0.719

### Multiclass classification

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=10, random_state=0)
cv = RepeatedStratifiedKFold(n_splits=3, n_repeats=3, random_state=1)
n_scores = cross_val_score(clf, X, Y_multi, scoring='accuracy', cv=cv, n_jobs=-1)

print('Mean Accuracy: %.3f' % (np.mean(n_scores)))

Mean Accuracy: 0.312